.signup-btn{
    text-align: center;
}

.signup-btn button{
    padding: 0.5rem 4rem;
    margin: 1rem;
    cursor: pointer;
    background-color: #90ffa3;
    color: #0d0143;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.signup-btn button:hover{
    transition: 0.3s;
    background-color: #6ffff3;
    box-shadow: 0 2px 5px #353535;
}

.log-btn{
    margin-top: 0.2rem;
}

.log-btn button{
    font-size: 1.2rem;
    color: #0d0143;
    border: none;
    background-color: #90ffa3;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.log-btn button:hover{
    transition: 0.3s;
    background-color: #6ffff3;
    box-shadow: 0 2px 5px #353535;
}

