header{
    padding: 0.4rem;
    box-shadow: 0 0 10px black;
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    font-weight: 500;
}


a{
    text-decoration: none;
    color: black;
}

.right{
    display: flex;
    gap: 2rem;
}
.login{
    background-color: #ff8e8e;
    border-radius: 2px;
    color: white;
    padding: 5px 15px;
}

.right a:hover{
    transition: 0.5s;
    background-color: #ff8e8e;
    color: black;
}

.signup{
    border-radius: 2px;
    padding: 5px 15px;
}

.normal{
    display: block;
    transition: 200ms;
    color: #2d2c2c;
    
}

.active{
    color: #d0451b;
}